*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about{

    padding: 6.13rem 3.25rem;
    background: #F7F7F7;
    display: flex;
    gap: 1.25rem;
}
.about-page{
    display: block;
}
.about-page2{
    display: flex;
    gap: 1.25rem;

}
.about-left{
    border-radius: 0.625rem;
    width: 50%;
}
.about-left img{
    width: 100%;
}
.about-right{
    width: 50%;
}
.about-right h4 {
    color: var(--red, #FF3E54);

/* H4 */
font-family: Poppins;
font-size: 1.3rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0.31rem;
}
.about-right h3{
    color: var(--black, #1F1F1F);
font-family: Poppins;
font-size: 1.65rem;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 0.31rem;
}
.about-right p{
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.05rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn-about{
    border-radius: 0.3125rem;
background: var(--red, #FF3E54);
padding: 0.738rem 1.275rem;
color: var(--white, #FFF);
text-align: center;

/* Sub 1 */
font-family: Poppins;
font-size: 0.95rem;
font-style: normal;
font-weight: 600;
line-height: normal;
width: fit-content;
margin-top: 1rem;
}
.help{
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0.94rem 1.25rem;
    gap: 1.25rem;
    border-radius: 0.625rem;
background: var(--white, #FFF);
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
margin-top: 1rem;
}
.help-right h3{
    color: var(--black, #1F1F1F);
font-family: Poppins;
font-size: 1.05rem;
font-style: normal;
font-weight: 600;
line-height: 1.15rem; /* 100% */
padding-bottom: 0.63rem;
}
.help-right h4{
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.15rem;
font-style: normal;
font-weight: 400;
line-height: 1.15rem; /* 100% */
}
.help-right span{
    color: var(--red, #FF3E54);
}
.about-right {

	display: flex;
	flex-direction: column;
	gap: 8px;
}
.mobile-about{
    display: none;
}
.about-page{
    align-items: center;
}
.about-sec{
       margin-top:6.25rem ;


}
.about-sec h6{
    color: var(--black, #1F1F1F);
text-align: center;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 2rem;
padding-inline: 17rem;
}
.mission{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.56rem;
    margin-top: 1.56rem;
}
.vision{
    padding: 2.5rem 1rem;
    border-radius: 0.625rem;
background: var(--white, #FFF);
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.vision h1{
    color: var(--red, #FF3E54);
font-family: Poppins;
font-size: 1.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 1.25rem;
}
.vision p{
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}


@media (max-width: 768px){
    .about{
        margin-top: 0;
        padding: 1.56rem 0.96rem;
        flex-direction: column;
    }
    .mobile-about{
        display: block;
    }
    .desktop-about{
        display: none;
    }
    .mobile-about  h4{
        color: var(--red, #FF3E54);
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 0.31rem;
    }
    .mobile-about h3{
        color: var(--black, #1F1F1F);
text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .about-left p{
        color: var(--lite-black, #7F7F7F);
text-align: center;
font-family: Poppins;
font-size: 0.8125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
    }
    .btn-about{
        width: 100%;
    }
    .help-right h3{
font-size: 1rem;
font-weight: 500;
line-height: normal;
    }
    .help{
        padding: 0.63rem;
    }
    .help-right h4{
font-size: 0.875rem;
font-weight: 400;
line-height: normal;
    }
}