.contact{
    padding: 5.1rem;
    background-image: url(../assets/img/contactbg.svg);
    display: flex;
    gap: 2.25rem;
    margin-top: 6.25rem;
    justify-content: space-between;

}
.con-input{
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
    padding-top: 3.13rem;
}
.contact-left span{
    color: #DD5471;
}
.contact-left h1{
    color: var(--black, #000);

/* H2 */
font-family: Poppins;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.contact-left p{
    color: var(--lite-black, #7F7F7F);

/* H4 */
font-family: Poppins;
font-size: 1.3rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
input,textarea{
    border: 0.1px solid #7F7F7F;
    padding: 1.37rem 1.88rem;
    border-radius: 0.625rem;
background: var(--white, #FFF);
}
input::placeholder,textarea::placeholder{
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.3rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
iframe{
    width: 40.4375rem;
height:52rem;
 border:0;
  allowfullscreen:"";
   loading:"lazy";
   referrerpolicy:"no-referrer-when-downgrade";
}
.contact-left,.contact-right{
    flex: 1;

}


@media (max-width: 768px){
    .contact{
        padding: 0.94rem;
        flex-direction: column-reverse;
    }
    .contact-left h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
    }
    .contact-left p{
font-size: 0.8125rem;
font-weight: 500;
line-height: normal;
    }
    .con-input{
        padding-top: 1rem;
    }
    input::placeholder, textarea::placeholder{

font-size: 0.75rem;
font-weight: 400;
line-height: normal;
    }
    input, textarea {
        padding: 0.69rem ;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}