

  footer{
    margin-top: 6.25rem;
    background: var(--black, #1F1F1F);
    background-image: url(../assets/img/footerbg.svg);
    background-repeat: no-repeat;
    background-position: right;

  }
  .footer-main{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding: 3.12rem 3.25rem;
  }

  .logo{
    padding-bottom: 1.37rem;
  }
  .column-foot h3{
    color: var(--white, #FFF);
font-variant-numeric: lining-nums proportional-nums;

/* Headings Bold/16px */
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: 1.375rem; /* 137.5% */
  }
  .social-icons{
    display: flex;
    gap: 1.25rem;
    padding-top: 0.62rem;

  }
  .column{
    flex: 1;
  }
  .column h4{
    color: var(--white, #FFF);

/* H4 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 0.81rem;
  }
  .column h5{
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
    color: var(--white-white-90, #CFD3D7);

/* Paragraph Regular/16px */
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
padding-bottom: 1rem;

  }
  label{

    color: var(--white-white-90, #CFD3D7);

/* Paragraph Regular/16px */
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
  }
  .column input{
    width: 100%;
    margin-top: 0.5rem;
    border: 1px solid var(--white, #FFF);
background: var(--white, #FFF);
  }
  .column input::placeholder{
    color: var(--black, #1F1F1F) !important;

/* Paragraph Regular/16px */
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 1.5rem */
  }
  button{
    padding: 1rem 3rem;
    border-radius: 0.5rem;
background: var(--red, #FF3E54);
border: none;
color: var(--z-white-fff, #FFF);

/* Paragraph Medium/14px */
font-family: Roboto;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 1.3125rem */
margin-top: 1.5rem;
  }
  footer hr{
    opacity: 0.2;
background: #7F7F7F;
  }
 #copy{
    padding: 0.94rem 3.25rem;
    color: var(--white, #FFF);
font-variant-numeric: lining-nums proportional-nums;
font-family: Roboto;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.375rem; /* 157.143% */


  }
  .newsletter-input{
    padding: 1rem !important;
  }


  @media (max-width: 768px){
    footer{
        margin-top: 1rem;
    }
    .footer-main{
        padding: 0.94rem;
    }
    .footer-main{
        flex-direction: column;
        text-align: center;
    }
    .social-icons{
        justify-content: center;
    }
  }