.hero-all{
    background: #2E2E36;
    display: flex;
    align-items: center;
    position: relative;
    height: 25rem;


}
#hero-bg{
    position: absolute;
    right: 0;


}
.hero-all h4{
    color: #FFF;
font-family: Poppins;
font-size: 3.288rem;
font-style: normal;
font-weight: 700;
line-height: normal;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 1.25rem    ;
z-index: 1;
}
.aboutus-news{
    padding:3.13rem   3.25rem ;
}
.aboutnews{
    padding-top: 3.12rem;
}
.about-up{
    display: flex;
    align-items: center;
    gap: 3.12rem;
}
.about-up h2{
    color: #000;
font-family: Poppins;
font-size: 1.625rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.about-up-head h3{
    color: var(--black, #1F1F1F);

/* H3 */
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 1.56rem;
}
.about-down{
    padding: 1.25rem;
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 0.9375rem;
background: #F7F7F7;
margin-top:1.19rem ;
}


.blog-box2{
    flex-wrap: wrap;
    margin-top: 1.88rem;
}
.load-more-button{
    border-radius: 0.3125rem;
background: var(--red, #FF3E54);
padding: 0.9375rem 1.875rem;
cursor: pointer;
}




.contact-page{
    flex-direction: column;
    background: none;
    margin-top: 1.15rem !important;
    padding-bottom: 0;

}

.iframe2{
    width: 100% ;
    height: 25.9375rem ;
    margin-top: 3.25rem;
}
.contact-left2{
    width: 50%;
    text-align: center;
    display: flex ;
    align-self: center;

    justify-content: center ;
}
.btn-contact{
    width: 100% !important;
}
.address{
    display: flex;
    justify-content: center;

    margin-top: 3.13rem;
}
.add{
    flex: 1;

}
.add h2{
    color: var(--red, #FF3E54);
text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 1.25rem;
}
.add p{
    color: var(--lite-black, #7F7F7F);
text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}


@media (max-width: 768px){
    #hero-bg{
        width: 100%;
    }
    .hero-all h4{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
    }
    .about-up-head h3{
font-size: 1.125rem;
font-weight: 600;
line-height: normal;
padding-bottom: 0;
    }
    .about-up-head img{
        width: 4rem;
    }
    .about-up h2{
font-size: 0.875rem;
font-weight: 500;
line-height: normal;
    }
    .aboutus-news{
        padding: 0.94rem;
    }
    .about-down{
        padding: 0.63rem;
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
    }
    .about-up{
        flex-direction: column;
        gap: 1rem;
        align-items: start;
    }
    .contact-page{
        flex-direction: column !important;
        margin-top: 0 !important;
        gap: 0 !important;

    }
    .contact-left2{
        width: 100%;
    }
    .iframe2{
        margin-top: 1.5rem;
    }
    .add h2{
font-size: 1rem;
font-weight: 500;
line-height: normal;
padding-block: 1rem;
    }
    .add p{
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
    }
    .address{
        flex-direction: column;

    }
    .hero-all{
        height: 11rem;
    }
    #hero-bg{
        right: -144px;
    }
    .hero-all h4 img{
        width: 28%;
    }
    .hero-all h4{
        justify-content: initial;
    }
}
