.product p{
    color: var(--lite-black, #7F7F7F);
text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-inline: 16rem;
}
.product{
    padding: 6.25rem 3.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.62rem;

}

.product h3{
    color: var(--red, #FF3E54);
text-align: center;

/* H4 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.product h1{
    color: var(--black, #1F1F1F);
text-align: center;
font-family: Poppins;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}