*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background-color: #FE0000;
    padding: 0.94rem 1.5rem;
    color: #FFF;
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.main{
    position: relative;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #2E2E36;
    margin-bottom: 15rem;
    padding: 2.5rem 3.25rem 6rem;

}
.hero-detail{
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
}
.hero-detail h2{

    color: #FFF;
font-family: Poppins;
font-size: 1.625rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.hero-detail h1{

        color: #FFF;
        font-family: Poppins;
        font-size: 3.263rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.85rem;

}
.hero-detail h3{

    color: #F3EFEF;
    font-family: Poppins;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero-work{
    display: flex;
    align-items: center;
    gap: 2.81rem;
    padding-top: 1.56rem;

}
.hero-work-2{
    display: flex;
    align-items: center;
    gap: 0.62rem;
}
.hero-work-2 h4{
    color: #FFF;
font-family: Poppins;
font-size: 1.625rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heroimg img {
	width: 100%;
	margin-bottom: -140px;
	/* background-size: cover; */
	margin-top: 9px;
}

.exp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
   width: 100%;
   position: absolute;
   bottom: -118px;


}
.exp-box{
    padding: 2rem;
    background: #FFF;
box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
width: 20.375rem;

}
.exp-box h1{
    color: #FE0000;
font-family: Poppins;
font-size: 3.4375rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.exp-box h2{
    color: #7A7A7A;

/* Text Medium 1 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.monthly {
	background: #fff;
	position: absolute;
	bottom: 10rem;
	display: flex;
	align-items: center;
	padding: 0.8rem 3.5rem;
	right: 6rem;
}

#com {
	width: auto;
	left: -41px;
	position: absolute;
	bottom: 13px;
    margin-bottom: 0;
}
.montly-img img{
  width: fit-content;
  margin: 0;

}
.monthly-detail h4{
    color: var(--text-and-main-gray-2, #909090);

/* Text 2 */
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.monthly-detail h3{
    color: var(--text-and-main-black, #424241);

/* Text Bold 1 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}


@media (max-width: 768px){
    .hero-detail h2{
font-size: 0.75rem;
font-weight: 500;
    }
    .hero{
        padding: 0.94rem    ;
    }
    /* #line{
        width: 17%;
    } */
    .hero-detail h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
    }
    .hero-detail h3{
font-size: 0.75rem;
font-weight: 400;
line-height: normal;
    }
    .hero-work-2 h4{
font-size: 0.9375rem;
font-weight: 500;
line-height: normal;
    }
    .exp{
        display: none;
    }
    .hero{
        margin: 0;
    }
    .monthly{
        padding: 0.45rem 1.5rem;
        display: none;
    }

    .monthly-detail h4{
font-size: 0.33931rem;
font-weight: 500;
line-height: normal;
    }
    .monthly-detail h3{
font-size: 0.45238rem;
font-weight: 700;
line-height: normal;
    }
    .montly-img img{
        width: 38%;
    }
    #com{
        width: 20%;
    }
    .hero-btn{
        display: block;
        color: #FFF;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
    .hero-work{
        flex-direction: column;
    }
    .heroimg{
        display: none;
    }
    .hero-work{
        gap: 1.56rem;
        padding-top: 0.7rem;
    }
  }


