.meta p{
    padding-inline: 10rem;


}
.meta{
    background: #F7F7F7;
   padding:  3.25rem;
    margin-top: 6.25rem;
    background-image: url(../assets/img/metabackground.svg);
}
.metavision{
    margin-top: 3.13rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;


}
.meta-box{
    border-radius: 0.9375rem;
background: var(--white, #FFF);
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
display: flex;
flex-direction: column;
align-items: center;
gap: 1.87rem;
justify-content: center;
padding: 2.62rem 4rem;
width: 23.9%;
background-image: url(../assets/img/metabg.svg);
background-repeat: no-repeat;
background-size: contain;
}
.meta-box h3{
    color: #000;
text-align: center;

/* H3 */
font-family: Poppins;
font-size: 1.35rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}


@media (max-width: 768px){
    .meta{
        margin-top: 0;
        padding: 1.56rem 0.96rem !important;
    }
    .meta p{
        padding-inline: 0;
    }
    .meta-box img{
        width: 50%;
    }
    .meta-box h3{
font-size: 1.125rem;
font-weight: 600;
line-height: normal;
    }
    .meta-box{
        min-width: 100%;
    }
    .metavision {
        margin-top: 3.13rem;
        display: flex;
        justify-content: initial;
        gap: 1.25rem;
        flex-wrap: nowrap;
        flex-direction: row;
        overflow: auto;
    }
}



@media (min-width: 1900px) {
    .meta{
        padding-inline: 9.38rem !important;
    }

}