*{
    margin: 0;
    padding: 0;
}

.product-range{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    flex-direction: row;
    padding-top: 3.12rem;
}
.pro-box{
    border-radius: 0.9375rem;
    background: #F7F7F7;
    padding: 1.5rem;
    width: 32%;
    height: 29.8125rem;
}


.product p{
    color: var(--lite-black, #7F7F7F);
text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-inline: 16rem;
}
.product{
    padding: 6.25rem 3.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.62rem;

}
.meta{
    padding: 3.13rem 3.25rem 5.31rem !important;
}

.product h3{
    color: var(--red, #FF3E54);
text-align: center;

/* H4 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.product h1{
    color: var(--black, #1F1F1F);
text-align: center;
font-family: Poppins;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.pro-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-head h1{
    opacity: 0.06;
    color: #646464;
text-align: right;
font-family: Poppins;
font-size: 5.25rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.pro-box h2{
    color: var(--black, #1F1F1F);

/* H3 */
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.pro-box p{
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.025rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
padding: 0 !important;
}
#line{
    padding-block: 1.56rem;
}


@media (max-width: 768px){
    .product{
        padding: 1.56rem 0.96rem;
    }
    .product h3{
font-size: 1rem;
font-weight: 400;
line-height: normal;
    }
    .product h1{
font-size: 1.25rem;
font-weight: 700;
line-height: normal;
    }
    .product p{
        padding-inline: 0;
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
    }
    .product-range{
        padding-top: 1rem;
        flex-wrap: nowrap;
    }
    .pro-head h1{
font-size: 3.125rem;
font-weight: 700;
line-height: normal;
    }
    .pro-box{
        padding: 0.94rem;
    }
    .pro-box h2{
font-size: 1.125rem;
font-weight: 600;
line-height: normal;
padding-top: 0.94rem;
    }
    #line{
        width: 5rem;
        padding-block: 0.5rem;
    }
    .pro-box p{
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
    }
    .product-range{
        overflow: auto;
    }
    .pro-box{
        min-width: 100%;
        height: max-content;
    }
}




@media (min-width: 1900px) {
    .product{
        padding-inline: 9.38rem;
    }

}