*{
    margin: 0;
    padding: 0;
}
.product{
    padding: 6.25rem 3.25rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.62rem;

}

.product h3{
    color: var(--red, #FF3E54);
text-align: center;

/* H4 */
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.product h1{
    color: var(--black, #1F1F1F);
text-align: center;
font-family: Poppins;
font-size: 2.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.product-range{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    flex-direction: row;
    padding-top: 3.12rem;
}
.pro-box{
    border-radius: 0.9375rem;
    background: #F7F7F7;
    padding: 1.5rem;
    width: 32%;
    height: 29.8125rem;
}
.product p{
    color: var(--lite-black, #7F7F7F);
text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-inline: 16rem;
}
.pro-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-head h1{
    opacity: 0.06;
    color: #646464;
text-align: right;
font-family: Poppins;
font-size: 5.25rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.pro-box h2{
    color: var(--black, #1F1F1F);

/* H3 */
font-family: Poppins;
font-size: 1.75rem;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.pro-box p{
    color: var(--lite-black, #7F7F7F);
font-family: Poppins;
font-size: 1.025rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
padding: 0 !important;
}
#line{
    padding-block: 1.56rem;
}