* {
    margin: 0;
    padding: 0;
}

.serv p {
    padding-inline: 12rem !important;
}


.sevices{
    width: 32%;

    border-radius: 0.9375rem;
background: var(--white, #FFF);
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);



}
#serimg{
    width: 100%;
}
.service-box{
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    padding-top: 4.06rem;

}

.serv-detail {
    padding: 1.5rem 1.8rem;
}

.serv-detail h5{
    display:inline-flex ;
    align-items: center;
    gap: 0.81rem;
    color: #000;

/* H5 */
font-family: Poppins;
font-size: 1.15rem;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-block: 0.62rem;
}
.serv-detail h4{
    color: var(--red, #FF3E54);

/* H3 */
font-family: Poppins;
font-size: 1.55rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 0.63rem;
}
/* Services.css or Global.css */

.circel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .circel span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: gray;
    cursor: pointer;
  }

  .circel span.active {
    background-color: red;
  }
