.testi{
    background-image: url(../assets/img/testibg.svg);
    margin-top: 6.25rem;
    padding: 5rem 3.25rem 3.5rem;
}
.testi p{
    font-size: 1.15rem;
    padding: 0;
}

.testimonial{
    padding: 3.13rem 3.13rem 1.63rem;
    display: flex;
    gap: 1.25rem;
    justify-content: space-evenly;


}
#testi{
    position: absolute;
    bottom: 2rem;
    right: 1rem;
}
.testi-box{
    padding: 2rem 1rem;
    border-radius: 0.9375rem;
background: var(--white, #FFF);
position: relative;
}
.testi-box h2{
    color: #7A7A7A;
font-family: Poppins;
font-size: 1.05rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.testi-detail{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3.12rem;

}
.testi-name{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.testi-detail h3{
    color: #000;

/* Sub 1 */
font-family: Poppins;
font-size: 1.15rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.testi-detail h5{
    color: #000;
font-family: Poppins;
font-size: 1.05rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
@media (max-width: 768px){
    .testi{
        margin-top: 2rem;
        padding: 1.56rem 0.96rem !important;
    }
    .testi p{
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
    }
    .testi-box h2{
font-size: 0.8125rem;
font-weight: 400;
line-height: normal;
    }
    .testi-detail h3{
font-size: 0.875rem;
font-weight: 500;
line-height: normal;
    }
    .testi-detail h5{
font-size: 0.75rem;
font-weight: 400;
line-height: normal;
    }
    .testi-box{
        min-width: 100%;
    }
    .testimonial {
        padding-block: 1rem;
        justify-content: initial;
        overflow: auto;
    }
    #testi{
        display: none;
    }
    .testi-detail{
        padding-top: 1rem;
    }
}


@media (min-width: 1900px) {
    .testi{
        padding-inline: 9.38rem;
    }

}